{% extends "base.html" %}

{% block header %}

     <a class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#DownloadHistoryModal">Download History</a>

<div class="modal fade" id="DownloadHistoryModal" tabindex="-1" aria-labelledby="HistoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="HistoryModalLabel">Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to download History?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'download_history' %}?download=true" class="btn btn-primary">Yes</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="content">
    <div class="container">
      <h2 class="mb-2">Results for {{ search_term }}</h2>
      <p>{{ total_records }} records found.</p>

      {% if history_records %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">Search Term</th>
              <th scope="col">Records Found</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            {% for record in history_records %}
            <tr>
              <td>{{ record.search_term  }}</td>
              <td>{{ record.total_records  }}</td>
              <td>{{ record.searched_at  }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
        <p>No history found.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}