asgiref==3.11.1
biopython==1.87
click==8.3.3
cloudpickle==3.1.2
colorama==0.4.6
diff-match-patch==20241021
Django==6.0.4
django-import-export==4.4.0
django-pandas==0.6.7
django-unfold==0.90.0
fsspec==2026.3.0
locket==1.0.0
narwhals==2.20.0
numpy==2.4.4
packaging==26.1
pandas==3.0.2
partd==1.4.2
plotly==6.7.0
polars==1.40.1
polars-runtime-32==1.40.1
pyarrow==24.0.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
toolz==1.1.0
tzdata==2026.1
